
.header {
    height: 20%;
    width: 100%;
   
    /* background-color: #DE6161;  */ 
}
.title {
    
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #DDE3ED;
} 

h1{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
}
@media only screen and (max-width: 320px) {
    h1 {
    font-size: 2em;
    }
    }
.subtitle {
    
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #DDE3ED;
}
h2{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
}
@media only screen and (max-width: 320px) {
    h2 {
    font-size: 1em;
    }
    }