.title {
  text-align: center;
  font-feature-settings: "liga" off;
  color: #dde3ed;
}

.subtitle {
  text-align: center;
  font-feature-settings: "liga" off;
  color: #dde3ed;
}

h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: 0.3em;
}

h2 {
  margin-top: auto;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
}

/* If the screen size is 801px wide or more and height 781 or more, set the font-size  */
@media screen and (min-width: 801px), (min-height: 781px) {
  .header {
    height: 18%;
    width: 100%;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
}

/* If the screen size is 800px wide or less and height 780 or less, set the font-size */
@media screen and (max-width: 800px), (max-height: 780px) {
  .header {
    height: 10%;
    width: 100%;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
}
