 .homepage {
  height: 100vh; 
  display: flex;
  flex-direction: column;  
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-direction: column;
    width: 100%;
    align-items: center;
    background: #FFC8C8;
  } 

#valid {
  margin-bottom: 5%;
}


.content {
    height:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
  /*ie10*/
  -ms-flex: 1 1 auto; /*needs both shrink and grow*/
  }



.homepageimage {
  width: 100%;
  height: 90%;
}